<h1>出品商品一覧</h1>
<button><%= link_to "戻る", mypage_path %></button>

<% if @listed_items.present? %>
  <% @listed_items.each do |item| %>
    <%= render partial: 'shared/item_with_image_link', locals: { item: item } %>
  <% end %>
<% else %>
  <p>出品商品はありません</p>
<% end %>