<h1>購入済み商品一覧</h1>
<button><%= link_to "戻る", mypage_path %></button>

<% if @purchase_items.present? %>
  <% @purchase_items.each do |item| %>
    <%= render partial: 'shared/item_with_image_link', locals: { item: item } %>
  <% end %>
<% else %>
  <p>購入済み商品はありません</p>
<% end %>