<% if !current_page?(new_user_session_path) %>
<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link"><%= link_to "マイページ", mypage_path(@current_user.id) %></a>
    </li>
  </ul>
</nav>
<% end %>

<h1>商品一覧</h1>

<%= render 'shared/flash_notice' %>

<% @items.each do |item| %>
  <%= render partial: 'shared/item_with_image_link', locals: { item: item } %>
<% end %>

<div class="button-container">
  <button><%= link_to "出品する", "/items/new" %></button>
</div>